@media only screen and (min-width : 860px) {

    /* NAVIGATION */
    .split {width: 100%; height: 5px; background: rgb(103,30,119); overflow: hidden;}
    
    .Content {transform: translateY(0);}
    
    #mainLogo {float: left; margin: 2px 0 0 8%; max-width: 100px;}
    #mobileBtn {display: none;}

    #DonateBtn {
        clear: none; margin: 0; position: absolute;
        top: 95px; right: 0px; border-radius: 0;
        box-shadow: none; transition-duration: 0.5s; display: block;
    }
    #DonateBtn:hover{
        transform:translateX(-30px); transition-duration: 0.5s;
        box-shadow: none; border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
  
    nav {
        height:auto; position: absolute; left: 19%;
        top: 60px; margin: 0; width: auto; transform: translateY(0);
    }
    nav a {
        clear: none; float: left;
        display: inline-block; border: none;
        background: transparent; color: black;
        margin: 0 0 0 10px; padding: 7px; width: auto;
    }
        nav a:hover {background: transparent;}
        nav a:hover:not(.active){color: darkslategray;}
            nav a p {padding: 0; display: block; font-size: 1.1em}

    .active {background-color: transparent; color: rgb(15,97,111);}
    
    /* HOME CONTENT */
    
    #homeStatsContainer{width: 100%;}
    .homeStats {clear: none; width: 29%; float: left; height: 200px; margin: 20px 2% 50px 2%; }
  
    /* FOOTER */

    .footerTable{
        display: block;
    }
        #table1 {
            float: left;
            margin-left: 13%;
    }
    
    #table2 {
        float: right;
        margin-right: 14%;
    }
    
    #table3 { 
        clear: left;
        float: left;
        margin-top: 40px;
        margin-left: 16%;
    }

    #logo2 {                                        
       float: right;
        clear: right;
        margin-right: 19%;
    }  
     
    
    /* ABOUT */
    
    #aboutInfoContainer{width: 100%;  margin: 0 auto;}
    .aboutInfo {clear: none; width: 24%; float: left; margin: 20px 2% 50px 2%; min-height: 250px;}
    
    /* VOLUNTEER */
    
    #volunteerContainer{width: 100%; margin: 0 auto;}
    .volunteerInfo{clear: none; width: 24%; float: left; margin: 20px 2% 50px 2%; min-height: 210px;}
    
        /* DONATING */
    
    .donList {margin-left: 15px; margin-bottom: 70px; }
    .col4{
        -moz-column-count: 4;
    -moz-column-gap: 11px;
    -webkit-column-count: 4;
    -webkit-column-gap: 11px;
    column-count: 4;
    column-gap: 11px;
    }
    .donHeader{
        text-align: center;
    }
    .col2 {
        margin-left: 80px;
               -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px; 
    }
    
    .donationColumn {
        clear: none; width: 40%;
        margin: 10px 2.2% 30px 2.2%; float: left; min-height: 590px;
    }
    
    #mapMarker {
        transform: translateX(3%);
    }

}

@media only screen and (min-width : 1100px) {

    nav a p {font-size: 1.4em}
    
    h1 {font-size: 2.8em; color: rgb(15,97,111);}
    h2 {font-size: 1.85em;} /* Default Sizes Are Mobile */
    h3 {font-size: 1.7em;}
    

    
    
        /* FOOTER */
 
    #table1 {
        float: left;
        margin: 0 0 0 1%;
    }
    
    #table2 {
        float: left;
        margin: 0 0 0 1%;
    }
    

    
    #table3 { 
        clear: none;
        margin: 0 0 0 2%;
        display: block;
        
    }

        #logo2 {                                        
        clear: none;
        margin: 15px 8% 0 0;
        display: block;
        float: right;
    }  
}

@media only screen and (min-width : 1200px) {
    #table1 {
        margin: 0 0 0 5%;
    }
    
    #table3 { 
        margin: 0 0 0 4%;
    }
}

@media only screen and (min-width : 1300px) {
 
    #table3 { 
        margin: 0 0 0 6%;
    }
}
